<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halloween Image Upload</title>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Transform Your Image for Halloween!</h1>
    <form id="uploadForm" action="/" method="post">
        <div class="file-input-wrapper">
            <button type="button" id="cloudinaryUploadButton">Upload Image</button>
            <div id="fileNameDisplay">Click to upload an image</div>
        </div>
        <input type="hidden" id="publicIdInput" name="public_id">
        <input type="hidden" id="cloudName" value="{{ cloud_name }}">
        <input type="hidden" id="uploadPreset" value="{{ upload_preset }}">
        </select><br>
        <select name="theme" required>
            <option value="" disabled selected>Select Theme</option>
            <option value="halloween">Halloween</option>
            <option value="cemetery">Cemetery</option>
            <option value="haunted_house">Haunted House</option>
            <option value="pumpkin_patch">Pumpkin Patch</option>
            <option value="night_club">Night Club</option>
        </select><br>
        <select name="costume" required>
            <option value="" disabled selected>Select Costume</option>
            <option value="custom">Custom</option>
            <option value="pirate">Pirate</option>
            <option value="vampire_costume">Vampire</option>
            <option value="zombie">Zombie</option>
            <option value="witch">Witch</option>
        </select><br>
        <button type="submit">Upload and Transform</button>
    </form>
    <div id="loading" style="display:none;">
        <p id="loadingMessage"></p>
    </div>
    <div id="fileNameDisplay"></div>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script>
        const cloudName = '{{ cloud_name }}';
        const uploadPreset = '{{ upload_preset }}';
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
