<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halloween Image Upload</title>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Transform Your Image for Halloween!</h1>
    <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required><br>
        <select name="facial_features" required>
            <option value="" disabled selected>Select Facial Features</option>
            <option value="vampire">Vampire</option>
            <option value="wolfman">Wolfman</option>
            <option value="frankenstein">Frankenstein (Green)</option>
        </select><br>
        <select name="theme" required>
            <option value="" disabled selected>Select Theme</option>
            <option value="halloween">Halloween</option>
            <option value="cemetery">Cemetery</option>
            <option value="haunted_house">Haunted House</option>
            <option value="pumpkin_patch">Pumpkin Patch</option>
            <option value="night_club">Night Club</option>
        </select><br>
        <select name="costume" required>
            <option value="" disabled selected>Select Costume</option>
            <option value="custom">Custom</option>
            <option value="pirate">Pirate</option>
            <option value="vampire_costume">Vampire</option>
            <option value="zombie">Zombie</option>
            <option value="witch">Witch</option>
        </select><br>
        <button type="submit">Upload and Transform</button>
    </form>
    <div id="loading" style="display:none;">
        <p id="loadingMessage"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
